body {
    margin: auto;
    background-color: @backgroundColor;
    font-family: 'Lato', sans-serif;
    
    /* Beginning of Home Page */ 
            
    .grayBox {
        height: 2.2rem;
        max-width: 100%;
        background-color: gray;
    }

    .message {
        height: 3rem;
        max-width: 100%;
        background-color: @fontMain;
        @media @max708 {
                height: 2rem;
            }

        h1 {
            display: flex;
            justify-content: center;
            padding-top: .5rem;
            font-size: 2rem;
            color: @misc;
            @media @max1020 {
                padding-top: .7rem;
                font-size: 1.5rem;
            }
            @media @max708 {
                padding-top: .5rem;
                font-size: 1rem;
            }
        }
    }
    
    .center {
        max-width: 1200px;
        margin: 0 auto;
    
        main {
            max-width: 100%;

            .heroArea {
                display: flex;
                justify-content: center;

                h1 {
                    font-size: 6rem;
                    color: white;
                    align-self: center;
                    position: absolute;
                    @media @max1020 {
                    font-size: 4rem;
                    }
                    @media @max708 {
                        top: 470px;
                        font-size: 2.5rem;
                    }
                    @media @max450 {
                        font-size: 1.5rem;
                    }
                }

                .hero {
                    background-color: black;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;

                    img {
                        max-width: 100%;
                    }
                }
            }
            
            .products {
                display: flex;
                justify-content: space-between;
                margin: 2rem 0rem;
                @media @max1020 {
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
                
                .boxContainer {
                    height: 175px;
                    width: 250px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    @media @max1020 {
                        margin-top: 1rem;
                    }
                }

                .coverColor {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    background-color: gray;
                    opacity: .4;
                }
                
                .txtTitle {
                    position: absolute;
                    top: 35%;
                    color: #F2F1EF;
                    font-size: 1.7rem;
                    color: @misc;
                }
                .txt {
                    .shopButtonSmall();
                    top: 120px;
                    font-size: 1.3rem;
                }
                .txt:hover {
                    cursor: pointer;
                }
            }

            .divBar {
                height: 5rem;
                border-top: 3px solid @bodyText;
                border-bottom: 3px solid @bodyText;
                border-radius: 1px;
                margin-bottom: 2rem;
                display: flex;
                justify-content: space-between;
                @media @max708 {
                    border-top: 2px solid @bodyText;
                    border-bottom: 2px solid @bodyText;
                }

                .divText {
                    margin-top: 1.5rem;
                    margin-left: 1rem;
                    font-size: 1.5rem;
                    color: @bodyText;
                    @media @max708 {
                        font-size: 1.2rem;
                        margin-top: 1.7rem;
                    }
                }
                .divShop {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                    font-size: 1.2rem;
                    background-color: @fontMain;
                    cursor: pointer;
                    border: none;
                    
                    .shopBtn {
                        text-decoration: none;
                        color: @misc;
                    }
                }
            }
            .hero2 {
                max-width: 100%;
            }

            .products2 {
                display: flex;
                justify-content: space-between;
                margin: 2rem 0rem;
                @media @max1145 {
                    margin-top: 1rem;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
                
                img {
                    max-width: 100%;
                }

                .boxContainer2 {
                        height: 275px;
                        width: 375px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        @media @max1145 {
                            margin-top: 1rem;
                    }
                }

                .coverColor2 {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    background-color: gray;
                    opacity: .6;
                }
                .txtTitle2 {
                    position: absolute;
                    top: 35%;
                    color: #F2F1EF;
                    font-size: 2.2rem;
                    color: @misc;
                }
                .txt2 {
                    .shopButtonLarge();
                    top: 13rem;
                    font-size: 1.8rem;
                }
                .txt2:hover {
                    cursor: pointer;
                }
            }
            
            .hero3 {
                max-width: 100%;
                margin-top: 1.5rem;
                margin-bottom: 3.5rem; 
            }
        }
    } /* End of Home Page */
    
    /* Beginning of Shop Page */
    
    .shopContent {
        display: flex;
        @media @max708 {
            flex-direction: column;
        }
        
        .filterColumn {
            width: 200px;
            @media @max708 {
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                }
            
            h1 {
                margin-top: 3rem;
                font-size: 1.8rem;
                padding-bottom: .5rem;
            }
            
            .filterType {
                display: flex;
                flex-direction: column;
                @media @max708 {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }
                
                .filterTitle {
                    padding-top: 1rem;
                    margin-bottom: .75rem;
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.2rem;
                    border-top: 1px solid @bodyText;
                    color: @fontMain;
                    @media @max708 {
                        padding: 2rem;
                        border: none;
                        border: 1px solid @bodyText;
                    }
                }
                .filterOptions {
                    display: flex;
                    flex-direction: column;
                    @media @max708 {
                        display: none;
                    }
                    
                    div {
                        margin-bottom: .5rem;
                    }
                    div:last-child {
                        margin-bottom: 1rem;
                    }
                    input {
                        margin-left: 0;
                        margin-right: .3rem;
                        transform: scale(1.3);
                    }
                    .availability {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    .availability:last-child {
                        font-size: .9rem;
                    }
                    .options {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        
                        .stars {
                            display: flex;
                            color: @misc;
                            p {
                                color: black;
                            }
                        }
                    }
                    .categories {
                        display: flex;
                        justify-content: space-between;
                        
                        a {
                            margin-bottom: .2rem;
                        }
                        
                        a:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                    .sizes {
                        font-size: .8rem;
                    }
                    .sizes:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        
        .divider {
            width: 1rem;
            margin-left: 1rem;
            border-left: solid 1px @bodyText;
        }
        
        .contentColumn {
            width: 1000px;
            max-width: 100%;
            
            .breadcrumbs {
                
                margin-top: 3rem;
                
                .breadLink {
                    color: @fontMain;
                }
            }
            
            .bikes {
                margin-top: 2rem;
                padding-bottom: 2rem;
                font-size: 2rem;
                display: flex;
            }
            .topDivider {
                border-bottom: 1px solid @bodyText;
                margin-bottom: 1.5rem;
            }
            
            .ddLabel {
                margin-top: 10rem;
                color: @fontMain;
            }
            .dropDown {
                margin-left: 1rem;
                font-size: 1rem;
                padding: .5rem 1rem;
            }
            
            .shopContent {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                @media @max708 {
                    justify-content: center;
                }
                
                .bikeTile {
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    @media @max708 {
                        padding-right: 1rem;
                    }
                    
                    img {
                        max-width: 100%;
                    }
                    
                    p {
                        margin-top: .25rem;
                        text-align: center;
                    }
                    .price {
                        color: @fontMain;
                        margin-top: .75rem;
                    }
                }
            }
        }
    }/* End of Shop Page */
}