body {
    margin: auto;
    background-color: @backgroundColor;
    font-family: 'Lato', sans-serif;
    
    /* Beginning of Home Page */ 
            
    .grayBox {
        height: 2.2rem;
        max-width: 100%;
        background-color: gray;
    }

    .message {
        height: 3rem;
        max-width: 100%;
        background-color: @fontMain;
        @media @max708 {
                height: 2rem;
            }

        h1 {
            display: flex;
            justify-content: center;
            padding-top: .5rem;
            font-size: 2rem;
            color: @misc;
            @media @max1020 {
                padding-top: .7rem;
                font-size: 1.5rem;
            }
            @media @max708 {
                padding-top: .5rem;
                font-size: 1rem;
            }
        }
    }
    
    .center {
        max-width: 1200px;
        margin: 0 auto;
    
        main {
            max-width: 100%;

            .heroArea {
                display: flex;
                justify-content: center;

                h1 {
                    font-size: 6rem;
                    color: white;
                    align-self: center;
                    position: absolute;
                    @media @max1020 {
                    font-size: 4rem;
                    }
                    @media @max708 {
                        top: 470px;
                        font-size: 3rem;
                    }
                }

                .hero {
                    background-color: black;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;

                    img {
                        max-width: 100%;
                    }
                }
            }
            
            .products {
                display: flex;
                justify-content: space-between;
                margin: 2rem 0rem;
                @media @max1020 {
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
                
                .boxContainer {
                    height: 175px;
                    width: 250px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    @media @max1020 {
                        margin-top: 1rem;
                    }
                }

                .coverColor {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    background-color: gray;
                    opacity: .4;
                }
                
                .txtTitle {
                    position: absolute;
                    top: 35%;
                    color: #F2F1EF;
                    font-size: 1.7rem;
                    color: @misc;
                }
                .txt {
                    .shopButtonSmall();
                    top: 120px;
                    font-size: 1.3rem;
                }
                .txt:hover {
                    cursor: pointer;
                }
            }

            .divBar {
                height: 5rem;
                border-top: 3px solid @bodyText;
                border-bottom: 3px solid @bodyText;
                border-radius: 1px;
                margin-bottom: 2rem;
                display: flex;
                justify-content: space-between;
                @media @max708 {
                    border-top: 2px solid @bodyText;
                    border-bottom: 2px solid @bodyText;
                }

                .divText {
                    margin-top: 1.5rem;
                    margin-left: 1rem;
                    font-size: 1.5rem;
                    color: @bodyText;
                    @media @max708 {
                        font-size: 1.2rem;
                        margin-top: 1.7rem;
                    }
                }
                .divShop {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                    font-size: 1.2rem;
                    background-color: @fontMain;
                    color: @misc;
                    cursor: pointer;
                    border: none;
                }
            }
            .hero2 {
                max-width: 100%;
            }

            .products2 {
                display: flex;
                justify-content: space-between;
                margin: 2rem 0rem;
                @media @max1145 {
                    margin-top: 1rem;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
                
                img {
                    max-width: 100%;
                }

                .boxContainer2 {
                        height: 275px;
                        width: 375px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        @media @max1145 {
                            margin-top: 1rem;
                    }
                }

                .coverColor2 {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    background-color: gray;
                    opacity: .6;
                }
                .txtTitle2 {
                    position: absolute;
                    top: 35%;
                    color: #F2F1EF;
                    font-size: 2.2rem;
                    color: @misc;
                }
                .txt2 {
                    .shopButtonLarge();
                    top: 13rem;
                    font-size: 1.8rem;
                }
                .txt2:hover {
                    cursor: pointer;
                }
            }
            
            .hero3 {
                max-width: 100%;
                margin-bottom: 3.5rem; 
            }
        }
    } /* End of Home Page */
    
    /* Beginning of Shop Page */
    
    .shopContent {
        display: flex;
        
        .filterColumn {
            width: 200px;
            
            h1 {
                margin-top: 3rem;
                font-size: 1.8rem;
                padding-left: .3rem;
            }
            
            .filterType {
                display: flex;
                flex-direction: column;
                
                .filterTitle {
                    margin-top: 1rem;
                    margin-bottom: .5rem;
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.2rem;
                    padding-left: .3rem;
                }
                .filterOptions {
                    display: flex;
                    flex-direction: column;
                    
                    div {
                        margin-bottom: .5rem;
                    }
                }
            }
        }
        
        .divider {
            width: 1rem;
            margin-left: 1rem;
            border-left: solid 1px @bodyText;
        }
        
        .contentColumn {
            
            
            .bikes {
                display: flex;
                justify-content: center;
            }
        }
        
        
    }
    
    /* End of Shop Page */
}