/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Start your code here: */
/* Layout */
/* Nav Bar CSS */
.header {
  display: flex;
  flex-direction: row;
  background-color: #EAE7DC;
}
@media (max-width: 710px) {
  .header {
    flex-direction: column;
  }
}
.header .logo {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-top: 2.2rem;
  position: absolute;
}
@media (max-width: 710px) {
  .header .logo {
    padding-bottom: 0;
  }
}
.header .logo h1 {
  font-size: 1.8rem;
  color: #E85A4F;
}
.header .navBar {
  display: flex;
  width: 40rem;
  justify-content: space-between;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  margin-left: 12rem;
  margin-right: 1%;
  color: #8E8D8A;
}
@media (max-width: 710px) {
  .header .navBar {
    flex-direction: column;
    padding-top: 9rem;
    padding-bottom: 0;
    margin-left: 1.5rem;
  }
}
.header .navBar a {
  color: #8E8D8A;
  text-decoration: none;
  font-size: 1rem;
}
@media (max-width: 710px) {
  .header .navBar a {
    flex-wrap: wrap;
    margin-bottom: 1rem;
    float: right;
  }
}
.header .navBar a:hover {
  text-decoration: underline;
  cursor: pointer;
}
body {
  margin: auto;
  background-color: #D8C3A5;
  font-family: 'Lato', sans-serif;
  /* Beginning of Home Page */
  /* End of Home Page */
  /* Beginning of Shop Page */
  /* End of Shop Page */
}
body .grayBox {
  height: 2.2rem;
  max-width: 100%;
  background-color: gray;
}
body .message {
  height: 3rem;
  max-width: 100%;
  background-color: #E85A4F;
}
@media (max-width: 710px) {
  body .message {
    height: 2rem;
  }
}
body .message h1 {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  font-size: 2rem;
  color: #EAE7DC;
}
@media (max-width: 1020px) {
  body .message h1 {
    padding-top: 0.7rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 710px) {
  body .message h1 {
    padding-top: 0.5rem;
    font-size: 1rem;
  }
}
body .center {
  max-width: 1200px;
  margin: 0 auto;
}
body .center main {
  max-width: 100%;
}
body .center main .heroArea {
  display: flex;
  justify-content: center;
}
body .center main .heroArea h1 {
  font-size: 6rem;
  color: white;
  align-self: center;
  position: absolute;
}
@media (max-width: 1020px) {
  body .center main .heroArea h1 {
    font-size: 4rem;
  }
}
@media (max-width: 710px) {
  body .center main .heroArea h1 {
    top: 470px;
    font-size: 3rem;
  }
}
body .center main .heroArea .hero {
  background-color: black;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
body .center main .heroArea .hero img {
  max-width: 100%;
}
body .center main .products {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}
@media (max-width: 1020px) {
  body .center main .products {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
body .center main .products .boxContainer {
  height: 175px;
  width: 250px;
  position: relative;
  display: flex;
  justify-content: center;
}
@media (max-width: 1020px) {
  body .center main .products .boxContainer {
    margin-top: 1rem;
  }
}
body .center main .products .coverColor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: gray;
  opacity: 0.4;
}
body .center main .products .txtTitle {
  position: absolute;
  top: 35%;
  color: #F2F1EF;
  font-size: 1.7rem;
  color: #EAE7DC;
}
body .center main .products .txt {
  position: absolute;
  color: #EAE7DC;
  background-color: #E85A4F;
  padding: 0.5rem 1rem;
  text-decoration: none;
  top: 120px;
  font-size: 1.3rem;
}
body .center main .products .txt:hover {
  cursor: pointer;
}
body .center main .divBar {
  height: 5rem;
  border-top: 3px solid #8E8D8A;
  border-bottom: 3px solid #8E8D8A;
  border-radius: 1px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 710px) {
  body .center main .divBar {
    border-top: 2px solid #8E8D8A;
    border-bottom: 2px solid #8E8D8A;
  }
}
body .center main .divBar .divText {
  margin-top: 1.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #8E8D8A;
}
@media (max-width: 710px) {
  body .center main .divBar .divText {
    font-size: 1.2rem;
    margin-top: 1.7rem;
  }
}
body .center main .divBar .divShop {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  background-color: #E85A4F;
  cursor: pointer;
  border: none;
}
body .center main .divBar .divShop .shopBtn {
  text-decoration: none;
  color: #EAE7DC;
}
body .center main .hero2 {
  max-width: 100%;
}
body .center main .products2 {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}
@media (max-width: 1145px) {
  body .center main .products2 {
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
body .center main .products2 img {
  max-width: 100%;
}
body .center main .products2 .boxContainer2 {
  height: 275px;
  width: 375px;
  position: relative;
  display: flex;
  justify-content: center;
}
@media (max-width: 1145px) {
  body .center main .products2 .boxContainer2 {
    margin-top: 1rem;
  }
}
body .center main .products2 .coverColor2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: gray;
  opacity: 0.6;
}
body .center main .products2 .txtTitle2 {
  position: absolute;
  top: 35%;
  color: #F2F1EF;
  font-size: 2.2rem;
  color: #EAE7DC;
}
body .center main .products2 .txt2 {
  position: absolute;
  color: #EAE7DC;
  background-color: #E85A4F;
  padding: 0.5rem 1rem;
  text-decoration: none;
  top: 13rem;
  font-size: 1.8rem;
}
body .center main .products2 .txt2:hover {
  cursor: pointer;
}
body .center main .hero3 {
  max-width: 100%;
  margin-bottom: 3.5rem;
}
body .shopContent {
  display: flex;
}
body .shopContent .filterColumn {
  width: 200px;
}
body .shopContent .filterColumn h1 {
  margin-top: 3rem;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}
body .shopContent .filterColumn .filterType {
  display: flex;
  flex-direction: column;
}
body .shopContent .filterColumn .filterType .filterTitle {
  padding-top: 1rem;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border-top: 1px solid #8E8D8A;
  color: #E85A4F;
}
body .shopContent .filterColumn .filterType .filterOptions {
  display: flex;
  flex-direction: column;
}
body .shopContent .filterColumn .filterType .filterOptions div {
  margin-bottom: 0.5rem;
}
body .shopContent .filterColumn .filterType .filterOptions div:last-child {
  margin-bottom: 1rem;
}
body .shopContent .filterColumn .filterType .filterOptions input {
  margin-left: 0;
  margin-right: 0.3rem;
  transform: scale(1.3);
}
body .shopContent .filterColumn .filterType .filterOptions .availability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .shopContent .filterColumn .filterType .filterOptions .availability:last-child {
  font-size: 0.9rem;
}
body .shopContent .filterColumn .filterType .filterOptions .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .shopContent .filterColumn .filterType .filterOptions .options .stars {
  display: flex;
  color: #EAE7DC;
}
body .shopContent .filterColumn .filterType .filterOptions .options .stars p {
  color: black;
}
body .shopContent .filterColumn .filterType .filterOptions .categories {
  display: flex;
  justify-content: space-between;
}
body .shopContent .filterColumn .filterType .filterOptions .categories a {
  margin-bottom: 0.2rem;
}
body .shopContent .filterColumn .filterType .filterOptions .categories a:hover {
  text-decoration: underline;
  cursor: pointer;
}
body .shopContent .filterColumn .filterType .filterOptions .sizes {
  font-size: 0.8rem;
}
body .shopContent .filterColumn .filterType .filterOptions .sizes:hover {
  text-decoration: underline;
  cursor: pointer;
}
body .shopContent .divider {
  width: 1rem;
  margin-left: 1rem;
  border-left: solid 1px #8E8D8A;
}
body .shopContent .contentColumn .bikes {
  display: flex;
  justify-content: center;
}
footer {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1020px) {
  footer {
    padding-left: 2%;
    padding-right: 2%;
  }
}
footer .footerInfo {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 710px) {
  footer .footerInfo {
    flex-direction: column;
  }
}
footer .footerInfo h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #E85A4F;
}
@media (max-width: 710px) {
  footer .footerInfo h1 {
    margin-top: 0.5rem;
  }
}
footer .footerInfo p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #8E8D8A;
}
footer .footerInfo a {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #8E8D8A;
}
footer .footerInfo a:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .footerInfo .mainInfo {
  display: flex;
  flex-direction: column;
}
footer .footerInfo .learnMore {
  display: flex;
  flex-direction: column;
}
footer .footerInfo .connect {
  display: flex;
  flex-direction: column;
}
footer .mailingList {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
}
@media (max-width: 710px) {
  footer .mailingList {
    font-size: 2rem;
  }
}
footer .mailingList a {
  text-decoration: none;
  color: #8E8D8A;
}
footer .mailingList a:hover {
  text-decoration: underline;
}
footer .socialIcons {
  max-width: 85px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 2rem;
}
footer .socialIcons p:hover {
  color: white;
}
/* Variables */
/* mixins */
.shopButtonSmall,
.shopButtonLarge {
  position: absolute;
  color: #EAE7DC;
  background-color: #E85A4F;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
/*yeet*/
/*# sourceMappingURL=main.css.map */